<div class="col-md-4">
    <section class="sidebar">
        <div class="widget">
            <form action="~/News/Search" method="get">
                <span class="search-field">
                    <input type="text" name="search" placeholder="Пошук" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>
        <div class="widget">
            <h4>Категорії</h4>
            <ul class="sidebar-menu">
                <li><a href="~/News/Index?page=0"><i class="fa fa-angle-right"></i> <span class="title">Всі новини</span></a></li>
                @foreach (var i in Petrivske.Models.Tag.GetAllTags().OrderBy(a => a.News.Count))
                {
                    if (i.News.Count != 0)
                    {
                        <li><a href="~/News/Index?page=0&Category=@i.Id"><i class="fa fa-angle-right"></i> <span class="title">@i.Keyword</span> <span class="count">@i.News.Count</span></a></li>
                    }
                }
            </ul>
        </div>
        @{Html.RenderAction("_SmilarNewsSidebarPartial", "News");}        
    </section>
</div>

