<div class="col-md-4">
    <section class="sidebar">
        <div class="widget">
            <form action="~/News/Search" method="get">
                <span class="search-field">
                    <input type="text" name="search" placeholder="Пошук" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>
        <div class="widget">
            <h4>Категорії</h4>
            <ul class="sidebar-menu">
                <li><a href="~/News/Index?page=0"><i class="fa fa-angle-right"></i> <span class="title">Всі новини</span></a></li>
                @foreach (var i in Petrivske.Models.Tag.GetAllTags().OrderBy(a => a.News.Count))
                {
                    if (i.News.Count != 0)
                    {
                        <li><a href="~/News/Index?page=0&Category=@i.Id"><i class="fa fa-angle-right"></i> <span class="title">@i.Keyword</span> <span class="count">@i.News.Count</span></a></li>
                    }
                }
            </ul>
        </div>
        <div class="widget">
            <h4>Popular posts</h4>
            <ul class="posts-list">
                <li>
                    <a href="/blog-single.html">
                        <div class="images">
                            <div class="image">
                                <img src="_assets/_img/image.png" class="image-data-for-parent" alt="Bedroom arranged in the attic" />
                            </div>
                        </div>
                        <span class="title">Enim ipsam voluptatem quia voluptas sit aspernatur aut</span>
                    </a>
                </li>
                <li>
                    <a href="/blog-single.html">
                        <div class="images">
                            <div class="image">
                                <img src="_assets/_img/image.png" class="image-data-for-parent" alt="Spacious bedroom with modern furniture" />
                            </div>
                        </div>
                        <span class="title">Quod maxime placeat facere possimus</span>
                    </a>
                </li>
                <li>
                    <a href="/blog-single.html">
                        <div class="images">
                            <div class="image">
                                <img src="_assets/_img/image.png" class="image-data-for-parent" alt="Furniture cushion" />
                            </div>
                        </div>
                        <span class="title">Am libero tempore cum soluta nobis est eligendi</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="widget">
            <h4>Popular tags</h4>
            <ul class="tagcloud">
                <li><a href="#">Apartment</a></li>
                <li><a href="#">Garden</a></li>
                <li><a href="#">Pool</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Tradition</a></li>
                <li><a href="#">City</a></li>
                <li><a href="#">Inspiration</a></li>
            </ul>
        </div>
        <div class="widget">
            <h4>Contact details</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="contact-details">
                <div class="contact-details-single">
                    <i class="fa fa-map-marker"></i>
                    <span class="contact-details-single-content">1234 Example,<br />Los Angeles, CA 98765</span>
                </div>
                <div class="contact-details-single">
                    <i class="fa fa-phone"></i>
                    <span class="contact-details-single-content">1-800-123-4567<br />1-800-765-4321</span>
                </div>
                <div class="contact-details-single">
                    <i class="fa fa-envelope"></i>
                    <span class="contact-details-single-content">contact@example.com</span>
                </div>
                <div class="contact-details-single">
                    <i class="fa fa-clock-o"></i>
                    <span class="contact-details-single-content">
                        <span class="opening-hours">
                            <span class="opening-hours-day">mon - fri</span>
                            <span class="opening-hours-value">8:00am - 4:00pm</span>
                        </span>
                        <span class="opening-hours">
                            <span class="opening-hours-day">sat - sun</span>
                            <span class="opening-hours-value">9:00am - 2:00pm</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>

