@model Petrivske.News

@{
    ViewBag.CurrentSection = "News";
    ViewBag.Title = "Додавання новини";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="big-wrapper">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="form">
                        <h2>Видалення новини</h2>

                        <h3>Ви впевнені що хочете видалити цю новину?</h3>
                        <div>
                            <h4>@Model.title</h4>                            
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group ">
                                    <input type="submit" value="Видалити" class="btn btn-default" /> |
                                    <a href="~/News/Index" class="btn btn-default">Скасувати</a>
                                </div>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>