
@{
    ViewBag.Title = "TestEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/ckeditor/ckeditor.js"></script>

<div class="big-wrapper" style="padding-top: 200px;">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="form">
                        <form>
                            <textarea name="editor1" id="editor1" rows="10" cols="80">
                                This is my textarea to be replaced with CKEditor.
                            </textarea>
                            <input type="submit" />
                        </form>

                        <script>
                            CKEDITOR.replace('editor1', {
                                uploadUrl: '../../News/UploadImage',
                            });
                        </script>

                    </section>
                </div>
            </div>

        </div>
    </div>
</div>