@{
    ViewBag.Title = "Святопетрівьска сільска рада";
}

<div class="big-wrapper">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <section class="heading-slider" data-interval="6000">
                        <div class="heading-slider-single-slide">
                            <img src="~/_assets/_img/image.png" class="image-data-for-parent" alt="Living room with a perfect view" />
                            <div class="heading-slider-single-slide-content">                                
                                <h1>Святопетрівьска Сільська рада</h1>
                                <h3>Офіційний портал</h3>
                            </div>
                            <div class="promotion">

                                <img src="~/_assets/_img/Sviatopetrivske_prapor.png" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
      

        <div class="container">
            <div class="row content-padding">
                <div class="col-md-5 vertical-align-middle">
                    <h2>З історії Святопетрівського</h2>
                    <p class="important">Петрівське – одне з наймолодших сіл Києво-Святошинського району, засноване у 1928-1929 роках.</p>
                    <p>Його заснували селяни, які переселилися з Білогородки. Називалося село у ті роки хутір Куликівка. Таку назву йому дали тому, що в заростях навколо хутора водилося багато куликів. Існує ще одна версія назви хутора – Кулаківка, яка походить від слова «кулаки» - заможні люди – які стали першими жителями села.</p>

                    <p class="space"><a href="#" class="button"><span>детальніше</span></a></p>
                </div>
                <div class="col-md-7 vertical-align-middle">
                    <section class="icon-blocks">
                        <div class="icon-block" data-icon-block-id="1">
                            <div class="padding">
                                <span class="title">Он-лайн послуги</span>
                            </div>
                        </div>
                        <div class="icon-block" data-icon-block-id="2">
                            <div class="padding">
                                <span class="title">Регуляторні акти</span>
                            </div>
                        </div>
                        <div class="icon-block" data-icon-block-id="3">
                            <div class="padding">

                                <span class="title">Програми ради</span>
                            </div>
                        </div>
                        <a href="~/News/Index">
                            <div class="icon-block" data-icon-block-id="4">
                                <div class="padding">
                                    <span class="title"> Новини <br /> події</span>
                                </div>
                            </div>
                        </a>
                        <div class="icon-block" data-icon-block-id="5">
                            <div class="padding">

                                <span class="title">Рішення <br />ради</span>
                            </div>
                        </div>
                        <div class="icon-block" data-icon-block-id="6">
                            <div class="padding">

                                <span class="title">Рішення виконкому</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-md-12">
                   
                    <section class="location-details">
                        <div id="mapholder" @*style="width: calc(100% - 570px);*@ float: left">
                            <span class="location-details-map-marker" data-lat="50.39227918995235" data-lng="30.314423484237523" data-type="marker"></span>
                            <span class="location-details-map-marker" data-lat="50.3914861578611" data-lng="30.31631875937046" data-type="school" data-title="Школа" data-description="Школа первой-третей ступени<br>тел. 093 394-11-56"></span>
                            <span class="location-details-map-marker" data-lat="34.061134" data-lng="-118.280391" data-type="school"></span>
                            <span class="location-details-map-marker" data-lat="34.062741" data-lng="-118.280651" data-type="mall"></span>
                            <span class="location-details-map-marker" data-lat="34.061485" data-lng="-118.280075" data-type="store"></span>
                            <span class="location-details-map-marker" data-lat="34.060245" data-lng="-118.275300" data-type="store"></span>
                            <span class="location-details-map-marker" data-lat="34.062687" data-lng="-118.274528" data-type="store"></span>
                            <span class="location-details-map-marker" data-lat="34.061311" data-lng="-118.273546" data-type="gas_station"></span>
                            <span class="location-details-map-marker" data-lat="34.060495" data-lng="-118.276728" data-type="bus_stop"></span>
                            <span class="location-details-map-marker" data-lat="34.060982" data-lng="-118.278342" data-type="bus_stop"></span>
                            <span class="location-details-map-marker" data-lat="34.062727" data-lng="-118.272674" data-type="bus_stop"></span>
                            <div class="location-details-map" style="width: 100%;" data-lat="50.39227918995235" data-lng="30.314423484237523" data-zoom-level="16">
                            </div>
                            <div id="pano"></div>
                        </div>
                        <div class="location-details-description">
                            <div class="padding">
                                <div class="description">
                                    <h2>Мапа села</h2>
                                    <h3>Святопетрівське</h3>
                                    <p>Село Святопетрівське розташоване у північній частині Києво-Святошинського району, за п’ять кілометрів від Києва. Село межує з Бояркою на півдні, з Вишневим – на сході, з Білогородкою – на північному заході.</p>
                                </div>
                                <div class="label">
                                    <div class="label-left">
                                        <div class="label-element"><i class="fa fa-book"></i> Навчальні заклади</div>
                                        <div class="label-element"><i class="martanian-icon-gasoline"></i> Заправна станція</div>
                                        <div class="label-element"><i class="fa fa-bus"></i> Зупинка</div>
                                    </div>
                                    <div class="label-right">
                                        <div class="label-element"><i class="fa fa-shopping-bag"></i> Магазин</div>
                                        <div class="label-element"><i class="fa fa-shopping-cart"></i> Ринок</div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <section class="documents">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2>Завантажити</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a class="document" href="#">
                                                        <i class="martanian-icon-paper"></i>
                                                        <span class="document-data">
                                                            <span class="title">Генплан</span>
                                                            <span class="file-size">2,1 MB</span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a class="document" href="#">
                                                        <i class="martanian-icon-paper"></i>
                                                        <span class="document-data">
                                                            <span class="title">Комунікації</span>
                                                            <span class="file-size">13 MB</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </section>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="gallery">
                        <h2>Фотогалерея</h2>
                        <ul class="gallery-filters">
                            <li class="filter" data-filter=".gallery-filter-building">СВЯТОПЕТРІВСЬКЕ</li>
                            <li class="filter" data-filter=".gallery-filter-building">РІЗДВЯНІ ЗУСТРІЧІ</li>
                            <li class="filter" data-filter=".gallery-filter-interior">ДЕНЬ ЗАХИСТУ ДІТЕЙ</li>
                            <li class="filter" data-filter=".gallery-filter-decor">ДЕНЬ СВЯТОГО МИКОЛАЯ – СВЯТО ТОРЖЕСТВА ДОБРА</li>
                        </ul>
                        <div class="gallery-images">
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-living">
                                <img src="~/_assets/_img/1.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-living">
                                <img src="~/_assets/_img/2.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-building">
                                <img src="~/_assets/_img/3.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-decor gallery-filter-living gallery-filter-dining">
                                <img src="~/_assets/_img/4.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-living">
                                <img src="~/_assets/_img/5.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-decor gallery-filter-living">
                                <img src="~/_assets/_img/6.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-decor gallery-filter-living gallery-filter-dining">
                                <img src="~/_assets/_img/7.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-building gallery-filter-living gallery-filter-dining">
                                <img src="~/_assets/_img/8.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-decor gallery-filter-living gallery-filter-dining">
                                <img src="~/_assets/_img/9.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-building gallery-filter-decor">
                                <img src="~/_assets/_img/10.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-interior gallery-filter-building">
                                <img src="~/_assets/_img/11.jpg" class="image-data-for-parent" />
                            </div>
                            <div class="gallery-single-image gallery-filter-decor">
                                <img src="~/_assets/_img/12.jpg" class="image-data-for-parent" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <section class="recent-news">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Новини, події</h2>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var i in Petrivske.News.GetNewsForHomepage())
                                {
                                    <div class="col-md-12">
                                        <p class="date">@i.dateBegin.Value.ToShortDateString()</p>
                                        <h4><a href="~/News/Details/@i.id">@i.title</a></h4>
                                        <p>@Html.Raw(i.minitext.Replace("style=\"", "style = \"max-width: initial; "))</p>
                                    </div>
                                    <hr style="border: 1px solid #eee"/>
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="read-all-news"><a href="~/News/Index" class="button"><span>Всі новини</span></a></p>
                                </div>
                            </div>
                        </div>
                   
                    </section>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <section class="about-box">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="about-box-heading">
                                        <div class="about-box-heading-image">
                                            <img src="~/_assets/_img/photo.png" class="image-data-for-parent" alt="Businesswoman" />
                                        </div>
                                        <h3>ОВСІЄНКО АНТОН МИХАЙЛОВИЧ</h3>
                                        <p class="description">СІЛЬСЬКИЙ ГОЛОВА</p>
                                    </div>
                                    <p>Короткая биография</p>
                                    <p class="buttons"><a href="#" class="button button-open"><span>Детальніше</span></a>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 vertical-align-middle">

                                </div>
                                <div class="col-md-3 vertical-align-middle">
                                    <p>@DateTime.Now.Year &copy; </p>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>