@model Petrivske.Models.Page

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="big-wrapper" style="margin-top:190px">
    <div class="wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-8">

                    <section class="blog-posts-navigation" style="border-top: none;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="prev-posts"><a href="~/Pages/Edit/@Model.Id" class="button"><span>Редагувати сторінку</span></a></p>
                        }
                       

                    </section>

                    <article class="blog-post">
                        <h2><a href="/blog-single.html">@Model.Title</a></h2>
                      
                        <div class="blog-post-content">
                           <p>@Html.Raw(Model.Content)</p>
                        </div>
                    </article>
                    @{Html.RenderAction("_SmilarNewsPartial", "News");}       
                </div>
                @{Html.RenderAction("_NewsSidebarPartial", "News");}
            </div>
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</div>




