<div class="row">
    <div class="col-md-12">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 vertical-align-middle">
                        <nav>
                            <ul class="menu">
                                <li>
                                    <a href="/index.html">Pages</a>
                                    <ul>
                                        <li><a href="/index.html">Home</a></li>
                                        <li><a href="/property-details.html">Property details</a></li>
                                        <li><a href="/blog.html">News</a></li>
                                        <li><a href="/about-agent.html">About agent</a></li>
                                        <li><a href="/contact.html">Contact</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Find us!</a>
                                    <ul>
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Google+</a></li>
                                        <li><a href="#">Twitter</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3 vertical-align-middle">
                        <p>@DateTime.Now.Year  <a href="~/Home/index">Святопетрівська сільська рада</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
